body {background-color:#222;}

.well{background-color:#ccf;}

p { 
  font-size:16px;
  max-width:800px;
}

.comment {
  padding-left:3em;
  text-indent:-3em;
  max-width:800px;
}

pre {
  background-color:#282c34;
  overflow:auto;
  margin:0 0 1em;
  padding:.5em 1em;
  max-width:700px;
}

pre code,
pre .line-number {
  color:white;
  display:block;
}

pre .line-number {
  float:left;
  margin:.6em 1em 0 -1em;
  border-right:1px solid;
  text-align:right;
}

pre .line-number span {
  display:block;
  padding:0 .5em 0 1em;
}

pre .cl {
  display:block;
  clear:both;
}
